{% extends 'bootstrap4/bootstrap4.html' %}
{% load crispy_forms_tags %}

{% block bootstrap4_content %}
<div class="row justify-content-center">
<div class="col-4">
<div class="card-body">
<h4 class="card-title">Log in to your account</h4>

<form method="post">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">

{{ form|crispy }}

<button type="submit" class="btn btn-primary btn-block">Log in</button>
</form>
</div>
</div>
</div>
{% endblock %}