{% extends 'music/tag_modify.html' %}

{#{% block title %} Album list {% endblock %}#}
{##}
{#{% block content %}#}
{#    <table class="table">#}
{#{% for album in object_list %}#}
{#    <tr class="row1"><td>#}
{#        <a href="{% url 'tracks' %}?album={{ album }}">{{ album }}</a>#}
{#    </td></tr>#}
{#{% endfor %}#}
{#    </table>#}
{#{% endblock %}#}
