{% extends 'bootstrap4/bootstrap4.html' %}
{% block bootstrap4_extra_head %}{% block extra_head %}{% endblock %}{% endblock %}
{% block bootstrap4_before_content %}
    <title>Awesome music player</title>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    {% block toggle_button %}{% endblock %}
    <h5 class="my-0 mr-md-auto font-weight-normal" style="position: relative; left: 750px">Awesome music player</h5>
    <nav class="my-2 my-md-0 mr-md-5" style="position: relative">
    <a class="p-2 text-dark" href="{% url 'index' %}">Upload</a>
    <a class="p-2 text-dark" href="{% url 'tag_modify' %}">Modify tags</a>
    <a class="p-2 text-dark" href="{% url 'playlist_modify' %}">Modify playlist</a>
    <a class="p-2 text-dark" href="{% url 'playlist' %}">Playlist</a>
    </nav>
    <a class="btn btn-outline-primary" href="{% url 'logout' %}">Logout</a>
</div>
{% include 'bootstrap4/messages.html' %}
{% endblock %}
{% block bootstrap4_content %}
<div style="padding-left: 10px">
    {% block content %}CONTENT{% endblock %}
</div>
{% endblock %}
{% block bootstrap4_after_content %}{% block after_content %}{% endblock %}{% endblock %}
{% block bootstrap4_extra_script %}{% block extra_script %}{% endblock %}{% endblock %}