{% extends 'music/base.html' %}
{#<p>Artist#}
{#{% for artist in artist_list %}#}
{#    <a href="{% url 'artist_list' %}?letter={{ artist.first_initial }}">{{ artist.first_initial }}</a>#}
{#{% endfor %}#}
{#    <a href="{% url 'artist_list' %}">All</a>#}
{#</p>#}
{##}
{#<p>Album#}
{#{% for album in album_list %}#}
{#    <a href="{% url 'album_list' %}?letter={{ album.first_letter }}">{{ album.first_letter }}</a>#}
{#{% endfor %}#}
{#    <a href="{% url 'album_list' %}">All</a>#}
{#</p>#}
{% block content %}
<form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" id="mp3_uploads" name="mp3_uploads" accept=".mp3" multiple/>
    <button class="btn" type="submit" name="mp3_upload">Upload files</button>
</form>
{% endblock %}
{#<form action="{% url 'playlist' %}" method="POST" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    <input type="postform" type="text" name="playlist_name"/>#}
{#    <button type="submit" name="playlist_create">Create playlist</button>#}
{#</form>#}