{% extends 'music/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extra_head %}
    <meta charset="UTF-8">
    <title>Audio player HTML5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'AudioPlayer.css' %}">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
    #player{
        left: 600px;
        position: relative;
        max-width: 700px;
        height: 500px;
        border: solid 1px gray;
    }
    .col-form-label{
        display: none;
    }
    </style>
{% endblock %}

{% block content %}
    <!-- Audio player container-->
    <div id='player'></div>
    {% csrf_token %}
    <div id='dropdown'>{{ playlists|crispy }}</div>
    <!-- Audio player js begin-->
    <script src="{% static 'AudioPlayer.js' %}"></script>
    <script>
        // test image for web notifications
        var iconImage = null;

        function onPlaylistChange(ev) {
            var playlist_id = document.getElementById('id_playlist').value;
            var player = window.AP;
            axios.get('playlist/' + playlist_id)
                .then((response => {
                    player.destroy();
                    AP.init({
                        container: '#player',//a string containing one CSS selector
                        volume: 0.7,
                        autoPlay: false,
                        notification: false,
                        playList: response.data
                    });
                }));

        }
        var id_playlist = document.getElementById('id_playlist');
        id_playlist.onchange = onPlaylistChange;

        AP.init({
            container:'#player',//a string containing one CSS selector
            volume   : 0.7,
            autoPlay : false,
            notification: false,
            playList: [
          ]
        });
        var dropdown  = document.getElementById('dropdown');
        var player = document.getElementById('player');
        player.appendChild(dropdown);
    </script>
    <!-- Audio player js end-->
{% endblock %}