{% extends 'music/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extra_head %}
<!-- Font Awesome JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'style.css'%}">
{% endblock %}
{% block toggle_button %}
    <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-align-left"></i>
        <span>Toggle Sidebar</span>
    </button>
{% endblock %}
{% block content %}
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">

        <ul class="list-unstyled components">
            <li {% if sidebar_status.artists %}class="active"{% endif %}>
                <a href="#artistsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Artists</a>
                <ul class="{% if sidebar_status.artists %}show{% endif %} collapse list-unstyled" id="artistsSubmenu">
                    {% for artist in artists %}
                        <li>
                            <a href="{% url 'playlist_modify' 'artist' artist.id %}">{{ artist }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li {% if sidebar_status.albums %}class="active"{% endif %}>
                <a href="#albumsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Albums</a>
                <ul class="{% if sidebar_status.albums %}show{% endif %} collapse list-unstyled" id="albumsSubmenu">
                    {% for album in albums %}
                        <li>
                            <a href="{% url 'playlist_modify' 'album' album.id %}">{{ album }}</a>
                        </li>

                    {% endfor %}
                </ul>
            </li>
        </ul>

    </nav>
    <!-- Page Content -->
        <div id="content">
            <form  method="post" action="">
                {% csrf_token %}
                {{ playlist_form|crispy }}
                <button  type="submit" name="create_playlist"  class="btn btn-success">Create</button>
            </form>
            <form method="post" action="">
                {% csrf_token %}
                <ul class="list-unstyled components">
                {% for track in tracks %}
                    <li>
                        <input type="checkbox" name="tracks_id" value="{{ track.id }}">{{ track }}
                    </li>
                {% endfor %}
                </ul>
                {{ playlists|crispy }}
                <button type="submit" name="add_to_playlist" class="btn btn-success">Add to playlist</button>
                <button type="submit" name="delete_playlist" class="btn btn-success">Delete playlist</button>
            </form>
        </div>
</div>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

{% endblock %}

