<html lang="en">
<body>
<h1>{{ key }}</h1>
{% for track in object_list %}
    <p><input type="checkbox"name="track">{{ track }}</p>
{% endfor %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit">Add to playlist</button>
</form>
</body>
</html>