{% extends 'music/base.html' %}
{% block content %}
<div>
    <table style="width:100%">
        <tr>
            <th>File name</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Song</th>
        </tr>
        {% for key, value in upload_data.items %}
        <tr>
            <td>{{ key }}</td>
            <td><input form="postform" type="text" name="{{ key }}" value="{{ value.artist }}" /></td>
            <td><input form="postform" type="text" name="{{ key }}" value="{{ value.album }}" /></td>
            <td><input form="postform" type="text" name="{{ key }}" value="{{ value.title }}" /></td>
            <td><input form="postform" type="hidden" name="{{ key }}" value="{{ value.id }}" /></td>
        </tr>
        {% endfor %}
    </table>
</div>


<form id="postform" action="{% url "upload" %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit">Ok</button>
</form>
{% endblock %}